<div class="video-list-item" layout="row">
	<div layout="column" layout-align="center" class="video-list-item__cell video-list-item__reorder">
		<icon class="ic-reorder"></icon>
	</div>
	<div class="video-list-item__cell video-list-item__image">
		<a href="{{ video.theatre_url }}" class="video-list-item__video-link" ng-if="::(!video.missing_from_youtube)">
			<img ng-src="{{ ::video.c_thumbnail_url }}">
			<span class="video-list-item__duration">{{ ::video.pretty_duration }}</span>
		</a>
	</div>
	<div flex layout="column" layout-align="center" class="video-list-item__cell video-list-item__video-title">
		<a href="{{ video.theatre_url }}" class="video-list-item__name video-list-item__video-link">{{ ::video.name }}</a>
	</div>
	<div layout="column" layout-align="center" class="video-list-item__cell video-list-item__channel-name">
		<span>{{ ::video.channel_name }}</span>
	</div>
	<div layout="row" layout-align="start center" class="video-list-item__cell video-list-item__watch-count">
		<icon class="ic-visibility"></icon>
		{{ ::video.watch_count }}
	</div>
	<div layout="row" layout-align="start center" class="video-list-item__cell video-list-item__tag-count">
		<icon class="ic-label"></icon>
		{{ video.tag_count }}
	</div>
	<div layout="column" layout-align="center" class="video-list-item__cell video-list-item__added">
		{{ ::video.pretty_publish_date }}
	</div>
	<div layout="column" layout-align="center" class="video-list-item__cell video-list-item__added">
		{{ ::video.pretty_created }}
	</div>
	<div layout="column" layout-align="center" class="video-list-item__cell video-list-item__keep">

		<div class="video-list-item__keep-flag video-list-item__keep-flag--success" ng-show="false"><!-- TODO: show when synced -->
			<icon class="bif-icon-circle-check"></icon>
			<md-tooltip md-delay="100">Safely stored with Keep</md-tooltip>
		</div>
		<div class="video-list-item__keep-flag video-list-item__keep-flag--progress" ng-show="false"><!-- TODO: show when syncing -->
			<md-progress-circular md-mode="indeterminate" md-diameter="16"></md-progress-circular>
			<md-tooltip md-delay="100">Sending to Keep locations…</md-tooltip>
		</div>
		<div class="video-list-item__keep-flag video-list-item__keep-flag--error" ng-show="false"><!-- TODO: show when returns error -->
			<md-button class="md-icon-button md-accent" aria-label="Retry" ng-click="ctrl.sendToKeep()">
				<icon class="bif-icon-circle-warning"></icon>
				<md-tooltip md-delay="100">Syncronization failed. Retry?</md-tooltip>
			</md-button>
		</div>
		<div class="video-list-item__keep-flag video-list-item__keep-flag--cta" ng-hide="false" ng-click="ctrl.sendToKeep()"><!-- TODO: hide only when one of the above is shown instead -->
			<md-button class="md-icon-button md-accent" aria-label="Send to Keep">
				<icon class="bif-icon-upload-arrow"></icon>
				<md-tooltip md-delay="100">Send to Keep locations</md-tooltip>
			</md-button>
		</div>

	</div>
	<div layout="column" layout-align="center" class="video-list-item__cell video-list-item__favourite">
		<gd-favourite-video-button video="video" ng-if="::(!video.missing_from_youtube)"></gd-favourite-video-button>
	</div>
	<div layout="column" layout-align="center" class="video-list-item__cell video-list-item__select">
		<gd-select-video-button ng-if="::(!video.missing_from_youtube)" selected="video.selected"></gd-select-video-button>
	</div>
</div>
