.bif-popover {
  background: white;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.5);
  max-width: 300px;
  min-width: 160px;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 100;
  &:before {
    background: white;
    border-color: white;
    border-width: 0 10px 10px;
    bottom: 100%;
    content: " ";
    height: 1px;
    position: absolute;
    right: 0;
    width: 1px;
  }
}
