gd-select-video-button {
	display: inline-block;

	.gd-select-video-button {
		opacity: 0;
		transition: all .2s ease-in-out;

		&.selected {
			color: $colour-gd-accent;
			opacity: 1;

			icon {
				@extend .ic-check-box;
			}
		}
	}

}
