
$breakpoint-phone: 768px;
$breakpoint-uhd: 1921px;
$storyful-orange: #fa7200;
$middle-grey: #7b7b7b;

html {
    background-color: white;
}
body.welcome-page {
    // Removed 800px min width on body for welcome page (class applied via ng-class)
    min-width: 320px;
    background-color: white;
    md-content section.page {
        background-color: white !important;
    }
}
div.welcome-page {
    background-repeat: no-repeat;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    min-height: 900px;
    header {
        background: $storyful-orange;
        height: 65px;
        a.storyful-icon {
            margin: auto;
            height: 100%;
            width: 130px;
            display: block;
            background: url("../img/storyful_logo-white@2x.png") no-repeat center;
            background-size: contain;
        }
    }
    .content {
        display: flex;
        flex: 1 0;
        min-width: 320px;
        @media( max-width: $breakpoint-phone) {
            flex-direction: column;
        }
        @media( min-width: $breakpoint-phone) {
            flex-direction: row;
        }
    }
    div.map-of-syria {
        @media( max-width: $breakpoint-phone) {
            background: url("../img/big-map-of-syria-phone.jpg") no-repeat;
            min-height: 149px;
            background-size: cover;
        }
        @media( min-width : $breakpoint-phone) {
            flex: 1 0;
            order: 1;
            background: url("../img/big-map-of-syria-big.jpg") repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            max-height: inherit;
        }
    }
    div.caption {
        color: #565656;
        font-family: Arial;
        display: flex;
        flex-direction: column;
        order: 2;
        @media( max-width: $breakpoint-phone) {
            padding: 30px;
        }
        @media( min-width : $breakpoint-phone) {
            max-height: 800px;
            padding: 70px;
            flex: 2 0;
        }
        @media( min-width: $breakpoint-uhd) {
            max-height: 1080px;
            padding: 100px 77px 0;
            flex: 2 0;
        }
        .quote {
            text-align: center;
            order: 1;
            @media( min-width : $breakpoint-phone ) {
                margin-bottom: 70px;
            }
            @media( min-width : $breakpoint-uhd) {
                margin-bottom: 115px;
            }
            p {
                margin: 0;
            }
            .main-quote {
                font-weight: 700;
                line-height: 1.25;
                @media( max-width: $breakpoint-phone) {
                    font-size: 18px;
                    margin-bottom: 15px;
                }
                @media( min-width : $breakpoint-phone ) and (max-width: $breakpoint-uhd) {
                    font-size: 28px;
                }
                @media( min-width : $breakpoint-uhd) {
                    font-size: 42px;
                    line-height: 1.5;
                }
                &:first-child {
                    margin-bottom: 0;
                }
            }
            .credit {
                font-weight: 400;
                @media( max-width : $breakpoint-phone) {
                    font-size: 14px;
                    line-height: 30px;
                }
                @media( min-width: $breakpoint-phone) and (max-width: $breakpoint-uhd) {
                    font-size: 22px;
                    line-height: 40px;
                }
                @media( min-width : $breakpoint-uhd) {
                    margin-top: 5px;
                    font-size: 32px;
                }
            }
        }
        .purpose {
            padding-top: 20px;
            padding-bottom: 20px;
            text-align: center;
            color: $middle-grey;
            font-family: Arial;
            font-weight: 700;
            order: 4;
            flex-shrink: 0;
            margin: auto;
            @media( max-width: $breakpoint-phone) {
                font-size: 14px;
                font-weight: 700;
                line-height: 20px;
                max-width: 320px;
            }
            @media( min-width : $breakpoint-phone) and ( max-width : $breakpoint-uhd) {
                max-width: 470px;
                min-width: 300px;
                font-size: 22px;
                line-height: 30px;
            }
            @media( min-width : $breakpoint-uhd) {
                max-width: 665px;
                font-size: 32px;
                line-height: 1.5;
                padding-top: 35px;
                padding-bottom: 35px;
            }
        }
        .meedan-message {
            @extend .purpose;
            @media(max-width: $breakpoint-phone) {
                display: none;
            }
            img {
                width: 141px;
                vertical-align: middle;
                padding-left: 8px;
            }
        }
        .montage-icon {
            display: block;
            margin: auto;
            order: 3;
            flex-shrink: 0;
            @media( max-width: $breakpoint-uhd) {
                background: url("../img/montage_logo02-beta@2x.png") no-repeat;
                background-size: contain;
                width: 142px;
                height: 112px;
            }
            @media( min-width: $breakpoint-uhd) {
                background: url("../img/Montage_logo@3x.png") no-repeat;
                background-size: contain;
                width: 200px;
                height: 150px;
            }
        }
        .button-bar {
            text-align: center;
            display: flex;
            justify-content: center;
            flex-shrink: 0;
            height: 93px;
            margin-top: 50px;
            @media( max-width: $breakpoint-phone) {
                width: 100%;
                order: 2;
                height: auto;
            }
            @media( min-width: $breakpoint-phone ) {
                order: 4;
            }
            .btn-log-in {
                img {
                    width: 215px;
                    cursor: pointer;
                }
            }
        }
        .jigsaw-icon {
            width: 100%;
            order: 5;
            a {
                flex-grow: 0;
                flex-shrink: 0;
                margin: auto;
                display: block;
                @media( max-width: $breakpoint-phone) {
                    background: url("../img/jigsaw.png") no-repeat center;
                    background-size: contain;
                    width: 75px;
                    height: 30px;
                }
                @media( min-width : $breakpoint-phone) {
                    background: url("../img/jigsaw@2x.png") no-repeat center;
                    background-size: contain;
                    width: 90px;
                    height: 30px;
                }
                @media( min-width: $breakpoint-uhd) {
                    margin-top: 110px;
                    background: url("../img/jigsaw@3x.png") no-repeat center;
                    background-size: contain;
                    width: 105px;
                    height: 46px;
                }
            }
            img {
                width: 200px;
                display: block;
                margin: auto;
            }
        }
        .opensource-message {
            order: 6;
            text-align: center;
            color: $middle-grey;
            font-family: Arial;
            font-size: 12px;
            font-weight: 400;
            flex-shrink: 0;
            margin-top: 50px;
            @media( max-width: $breakpoint-phone) {
                display: none;
            }
        }
        .links-bar {
            width: 100%;
            text-align: center;
            order: 7;
            flex-shrink: 0;
            @media( min-width: $breakpoint-uhd) {
                margin-bottom: 30px;
            }
            a {
                margin: auto;
                width: 144px;
                height: 11px;
                color: $middle-grey;
                font-family: Arial;
                font-size: 12px;
                font-weight: 400;
                @media( min-width: $breakpoint-uhd) {
                    font-size: 18px;
                }
            }
        }
    }
}
