@mixin slide-in-up($max-height: false, $height-prop: 'max-height', $opacity: true, $translate: true) {
	from {
		@if $max-height != false {
			#{$height-prop}: 0;
		}

		@if $opacity == true {
			opacity: 0;
		}

		@if $translate == true {
			transform: translateY(100%);
		}
	}

	to {
		@if $max-height != false {
			#{$height-prop}: $max-height;
		}

		@if $opacity == true {
			opacity: 1;
		}

		@if $translate == true {
			transform: translateY(0);
		}
	}
}
