.bif-switch {

}

.bif-switch__name {
  margin: 0 0 10px;
  button {
    @include type(menu);
    align-content: center;
    align-items: center;
    background: transparent;
    border: none;
    box-shadow: none;
    color: #000;
    cursor: pointer;
    display: block;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 1.4em;
    margin: 0;
    outline: none;
    padding: 0;
    text-align: left;
    width: 100%;
  }
  span {
    display: inline-block;
    margin-left: 10px;
    position: relative;
    width: 32px;
    &:after,
    &:before {
      border-radius: 1000px;
      content: ' ';
      display: block;
      height: 18px;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      transition: background 0.2s, margin 0.2s;
    }
    &:before {
      background: #ccc;
      height: 12px;
      width: 32px;
    }
    &:after {
      background: #fff;
      box-shadow: 0 1px 3px rgba(0,0,0,0.25);
      height: 18px;
      width: 18px;
    }
  }

  &.isActive {
    span:before {
      background: #ff6d00;
    }
    span:after {
      left: auto;
      right: 0;
    }
  }

}

.bif-switch__text {
  color: #666;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4em;
  text-align: left;
}
